.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: bold;
    font-style: 22px;
}
.links{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff #53c28b;
    cursor: pointer;
    border-radius: 20px;
}